*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* en tete de page début */
header {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0px 0px 20px 20px;
    padding: 20px;
}

header ul {
    display: flex;
    align-items: center;
    gap: 20px;
}

header ul li {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
    font-family: "Arima";
           font-style: normal;
           font-weight: 300;
           text-align: left;
 }

.logo {
    border-radius: 20px;
    

}

.accueil:hover {
    background-color: rgba(207, 87, 156, 0.5);
    border-radius: 10px;
}

.a_propos:hover {
    background-color: rgba(207, 87, 156, 0.5);
    border-radius: 10px;
}

.me_contacter:hover {
    background-color: rgba(207, 87, 156, 0.5);
    border-radius: 10px;
}
/* fin */

/* contenu */
body {
    background-image: url(./images/degrade.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

section { 
    padding: 20px;
}

.titre {
    font-weight: bold;
}

h1 { 
        color: white;
        font-family: "Lobster", sans-serif;
        font-weight: 3.5em;
        font-style: normal;
        text-decoration: underline;
        text-align: center;
    }


.importants {
    color: #cf579c;
 }


   
h2 {
    color: white;
    font-family: "Lobster", sans-serif;
    font-weight: 3.2em;
    font-style: normal;
    text-decoration: underline;
    text-align: center;
}

p, .head  {
        font-family: "Arima";
        font-style: normal;
        font-weight: 300;
        text-align: center;
}

section ul {
    padding-left: 40px;
    list-style: none;
}

.photo { 
    border-radius: 100px 100px 100px 100px;
}

#about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

#about .card {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    padding: 20px;
    width: 100%;
    text-align: left;
}

form {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    text-align: justify;
    padding: 20px;
    width: 50%;
    font-family: "Arima";
}

:required:hover {
    border-color: #cf579c;
}

button {
    border-radius: 71% 29% 70% 30% / 100% 25% 75% 0% ;
    padding: 10px; 
    border-color: #ffd2ec;  
    font-family: "Arima";
    overflow: hidden;
}

button:hover {
    background-color: #ffd2ec;

}

/* bas de page*/
footer {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px 20px 0px 0px ;
    padding: 20px;
    align-items: flex-end;
}


.insta:hover {
    background-color: rgba(207, 87, 156, 0.5);
    border-radius: 10px;
}

.linkedin:hover {
    background-color: rgba(207, 87, 156, 0.5);
    border-radius: 10px;
}